@font-face {
    font-family: "rany";
    src: url(../font/Rany-Bold\ Italic.otf);
}
#works-part{
    font-family: "rany";
    font-size: 30px;
}
#works-about{
    font-size: 30px;
}

.works {
    padding: 150px 0; 
    text-align: center;
    margin:0 13vw;
}

.title img{
    width: min(50vw,50vh);
    height: auto;
}

.works-img {
    width: min(75vw, 75vh);
    height: auto;
}

.works-img img{
    width: 100%;
    height: auto;
}

.works-img{
    margin:60px 0;
}
#works-img img{
    display: block;
    margin: 60px 0;
}
@media screen and (max-width: 1200px){
    .works-img {
        width: min(90vw, 90vh);
    }

    .title img{
        width:min(80vw, 80vh);
    }

}

.kai1{
    font-size: 70px;
}
.kai2{
    font-size:20px;
}









