* {
    margin:0; padding:0;
    user-select: none;
    }
  
  body{
    background-color: black;
    height: 100%;
    color:aliceblue;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  a{
    text-decoration: none;
  }



  