/* ベースの本体 */
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#loading.loaded {
  opacity: 0;
  visibility: hidden;
}


/* 001 */
.loader001,
.loader001:before,
.loader001:after {
  background: rgb(149,255,239);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader001 {
  color: rgb(149,255,239);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 13px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader001:before,
.loader001:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader001:before {
  left: -15em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader001:after {
  left: 15em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 5em;
  }
  40% {
    box-shadow: 0 -3em;
    height: 10em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 5em;
  }
  40% {
    box-shadow: 0 -3em;
    height: 10em;
  }
}